[user]
  name = max-allen
  email = contact@maxallen.io

[alias]
  st = "status"
  df = "diff"
  br = "branch"

  ci = "commit -m"
  cim = "commit --amend"
  cime = "commit --amend --no-edit"

  rb = "rebase"
  rbc = "rebase --continue"
  rbi = "rebase -i"
  sh = "stash"

  lg = "log"
  rl = "reflog"

  co = "checkout"
  sw = "switch"
  pl = "pull"
  ph = "push"

  cg = "config"

[push]
  autoSetupRemote = true

[init]
  defaultBranch = main

[pull]
	rebase = true
