[user]
  name = max-allen
  email = contact@maxallen.io

[credential]
  helper = osxkeychain

[alias]
  st = "status"
  br = "branch"
  ci = "commit"
  cim = "commit --amend"
  co = "checkout"
  pl = "pull"
  ph = "push"

[push]
  autoSetupRemote = true

[init]
  defaultBranch = main
