[user]
  name = max-allen
  email = contact@maxallen.io

[alias]
  st = "status"
  df = "diff"
  dfs = "diff --staged"

  br = "branch"
  brl = "branch -l --sort=-committerdate"
  brm = "branch -M"

  ci = "commit -m"
  cim = "commit --amend"
  cime = "commit --amend --no-edit"

  rb = "rebase"
  rbc = "rebase --continue"
  rbi = "rebase -i"

  sh = "stash"
  sha = "stash apply"

  lg = "log"
  rl = "reflog"

  co = "checkout"
  sw = "switch"
  swb = "switch -"

  pl = "pull"
  plm = "pull origin main"
  ph = "push"

  cg = "config"

[push]
  autoSetupRemote = true

[init]
  defaultBranch = main

[pull]
	rebase = true
